#title {
    color: white;
    font-size: 32px;
    margin: 0 5% 0 5%;
    padding: 1em 0 1em 0;
    text-align: center;
    background: rgba(0,0,0,0.5);
}

#container {
    font-size: 32px;   
    background: rgba(0,0,0,0.5);
    margin: 0 5% 0 5%;
}

.flex-white{
    align-items: center;
    justify-content: space-around;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: flex;
    background: rgba(230, 230, 230, 0.8);
    flex-wrap: wrap;
    position: relative;
}

.flex-black{
    color: white;
    align-items: center;
    justify-content: space-around;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: flex;
    background: rgba(0, 0, 0, 0.8);
    flex-wrap: wrap;
    position: relative;
}

#business-link {
    color: white;
    position: absolute;
    top: 0;
    right: 10px;
}