#title {
    color: white;
    font-size: 32px;
    margin: 0 5% 0 5%;
    padding: 1em 0 1em 0;
    text-align: center;
    background: rgba(0,0,0,0.5);
}

#container {
    font-size: 32px;   
    background: rgba(0,0,0,0.5);
    margin: 0 5% 0 5%;
}

.flex {
    align-items: center;
    justify-content: space-around;
    padding-top: 5%;
    display: flex;
    background-color: white;
    flex-wrap: wrap;
    position: relative;
}