/* Business Employee Link */
#business-link {
    color: white;
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 18px;
}

/* Title */
#intro{
    color: white;
    text-align: center;
    font-size: 32px;
    background-image: url(../files/background.jpg);
    height: 75vh;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

#intro div {
    color: white;
    position: relative;
    top: 45%;
    left: 25%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0 25% 0 25%;
}

/* Sconnies */
#sconnies {
    text-align: center;
    font-size: 32px;
    background-image: url(../files/sconnies-blur.jpg);
    height: 50vh;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

/* Wandos */
#wandos {
    text-align: center;
    font-size: 32px;
    background-image: url(../files/wandos-blur.jpg);
    height: 50vh;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

/* Red Zone */
#red-zone {
    text-align: center;
    font-size: 32px;
    background-image: url(../files/red-zone-blur.jpg);
    height: 50vh;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

/* Jordan's */
#jordans {
    text-align: center;
    font-size: 32px;
    background-image: url(../files/jordans-blur.jpg);
    height: 50vh;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

/* Lucky's */
#luckys {
    text-align: center;
    font-size: 32px;
    background-image: url(../files/luckys-blur.jpg);
    height: 50vh;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

#business title header{


    
} 


#container {
    font-size: 32px;   
    background: rgba(0,0,0,0.5);
    margin: 0 5% 0 5%;
}

<<<<<<< Updated upstream
.flex {
=======

.flex-white{
>>>>>>> Stashed changes
    align-items: center;
    justify-content: space-around;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}


